html {
    height: 100%;
}
body {
    min-height: 100%;
}

.text-light {
    color: #888;
}

.form-group {
    position: relative;
}

body.frontpage {
    background-image: url(https://static.pexels.com/photos/54547/pexels-photo-54547.jpeg);
    background-size: cover;
    padding: 20px;
    max-width: 1024px;
    margin: 0 auto;
}
body.frontpage .jumbotron {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background: rgba(255,255,255,0.8);
}
body.frontpage .jumbotron p {
    margin-top: 20px;
}
body.frontpage .jumbotron .btn {
    font-size: 28px;
    padding: 10px 40px;
    margin-top: 20px;
}
body.frontpage small {
    color: #888;
}


body.create-page {
    padding: 20px;
}
body.create-page form {
    max-width: 800px;
    margin: 0 auto;
}

@media(max-width: 767px) {
    body.create-page form .row > div + div {
        margin-top: 5px;
    }
}

body.create-page form .steps {
    margin-bottom: 20px;
}
body.create-page .input-group {
    width: 100%;
}
body.create-page .input-group-addon {
    width: 50px;
    text-align: center;
}
body.create-page form section + section {
    margin-top: 40px;
}

body.delete-page form {
    max-width: 800px;
    margin: 20px auto;
}

.input-time {
    max-width: 250px;
}
.input-time input {
    text-align: center;
}

.row-toggle:not(.on) .col-toggle {
    display: none;
}

.input-group input:not(:first-child),
.input-group .input-group-addon:not(:first-child) {
    border-left: none;
}

#info h4 {
    margin-bottom: 5px;
    font-size: inherit;
    font-weight: bold;
}

body.show-page .plane {
    margin: 0 15px;
    overflow: hidden;
}
body.show-page #info .top {
    height: 100px;
    margin-top: -5px;
    margin-left: -15px;
    margin-right: -15px;
    background-position: center 39%;
    background-size: cover;
    border-bottom: 1px solid #ccc;
}
body.show-page #info .map {
    display: block;
    margin: 20px -15px -10px -15px;
}
body.show-page #info .map img {
    width: 100%;
}

body.show-page #manage {
    margin: 30px 5px 15px 5px;
}
body.show-page #manage .panel-heading,
body.show-page #manage .panel-body {
    padding: 10px;
}
body.show-page #manage #inputLink {
    cursor: text;
}
body.show-page #manage .text-danger {
    margin-top: 7px;
}
@media (min-width: 768px) {
    body.show-page #manage .panel-heading .text-muted {
        text-align: right;
    }
}
@media (min-width: 840px) {
    body.show-page .plane {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 15px auto;
        padding: 5px 15px 10px;
        width: 800px;
    }
    body.show-page #info .map {
        margin-top: 30px;
    }
    
    body.show-page #manage {
        width: 800px;
        margin: 30px auto 15px auto;
    }
    body.show-page #manage .panel-heading,
    body.show-page #manage .panel-body {
        padding: 10px 15px;
    }
}

body.show-page .plan-visit {
    margin: 15px 0 20px 0;
}
body.show-page .plan-visit .btn-lg {
    padding: 10px 40px;
}

table.calendar th {
    text-align: center;
}

table.calendar td {
    text-align: center;
}
table.calendar td.disabled {
    background-color: #ccc;
}
table.calendar td.available {
    background-color: #80ff80;
    cursor: pointer;
}
table.calendar td.taken {
    background-color: #cc0000;
    color: #ffffff;
}
