RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php

<Directory "/vendor">
  Deny from all
</Directory>
<Directory "/templates">
  Deny from all
</Directory>