@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

textarea::placeholder {
  color: #b8b8b8;
}

.p-inputnumber.compact input {
  width: 120px;
}

.p-card-footer {
  padding-top: 0;
}

.rbc-calendar {
  background: #ffffff;
  border-radius: 12px;
  padding: 8px;
  border: 1px solid var(--color-gray-200);

  .rbc-header {
    color: #111827;
    background: #ffffff;
    border-color: #e5e7eb;
    font-weight: 600;
  }

  .rbc-time-gutter .rbc-timeslot-group,
  .rbc-time-gutter .rbc-time-slot,
  .rbc-label {
    color: #374151;
  }

  .rbc-time-content > * + * > * {
    border-color: #e5e7eb;
  }

  .rbc-time-content {
    border-top-color: #e5e7eb;
  }

  .rbc-today {
    background-color: inherit;
  }

  .rbc-event {
    background-color: #e5e7eb;
    color: #111827;
    border: 1px solid #d1d5db;
  }

  .rbc-allday-cell {
    display: none;
  }

  .rbc-day-slot .rbc-events-container {
    margin: 0;
  }

  .timeslot-unavailable .rbc-event-label {
    display: none;
  }

  .rbc-events-container {
    cursor: pointer;
  }
}
