{% extends 'base.html.twig' %}

{% set page = {
  title: "Pagina voor "~info.name~" verwijderen)",
  class: "delete-page"
} %}

{% block contents %}
    <form method="post" class="alert alert-danger">
        <h3>Weet je zeker dat je de pagina voor {{ info.name }} wilt verwijderen?</h3>
        
        <div class="text-right">
            <a href="/page/{{ info.reference }}" class="btn btn-default">Annuleren</a>
            <button type="submit" class="btn btn-danger" formaction="/delete">Verwijderen</button>
        </div>
    </form>
{% endblock %}
