{% extends 'base.html.twig' %}

{% set page = {
    title: "Kraambezoek planner",
    class: "frontpage"
} %}

{% block contents %}
    <div class="jumbotron">
        <h1>Op kraambezoek</h1>
        <p>Plan eenvoudig het kraambezoek.</p>
        <p><a class="btn btn-primary btn-lg" href="/create" role="button">Start hier</a><br><small>(het is gratis)</small></p>
    </div>
{% endblock %}
